*{
	margin:0;
	padding:0;
}
.flex{
	display:flex;
}
.flexBetween{
	display:flex;
	justify-content:space-between;
}
.flexCenter{
	display:flex;
	justify-content:Center;
}
.flexStart{
	display:flex;
	justify-content:start;
}
.fontMedium{
	font-size:14px;
}
.fontSmall{
	font-size:12px;
}
.fontLarge{
	font-size:22px;
}
.padding5{
	padding:5px;
}
.padding2{
	padding:2px;
}
.padding2{
	padding-bottom:2px;
}
.green{
	color:green;
}
.del{
	width:20px;
	margin-left:60px;
	cursor:pointer;
}	
body{
	font-family:inter,sans-serif;
	color:#001325;
	background-image:url(../assets/home.png);
}
.containerBox{
	margin: auto;
	margin-right:0px;
	width:400px;
	border:1px solid #818181;
	background-color:#FFFFFF;
	
}
.container{
	padding:15px;
}
.cartHeader{
	padding:10px;
	border-bottom:1px solid whitesmoke;
	position:relative;
}
.cartHeader p{
	font-size:24px;
	font-weight:bold;
	margin-left:10px;
}
.cartHeader span{
	font-size:12px;
	color:#818181;
	margin-top:10px;
	margin-left:5px;
}
.register{
	border:1px solid #d3d3d3;
	border-radius:4px;
	padding:5px 2px;
	margin-top:20px;
}
.button{
	padding:10px 120px;
	margin:5px;
	cursor:pointer;
	background-color:#FFFFFF;
	border:1px solid #e5e4e2 ;
	border-radius:4px;
}
.button a{
	 color:#cf1d52;
	text-decoration:none;
	font-weight:bold;
	font-size:14px;
}
.cartPic{
	width:100px;
}
.imageDes{
	border-bottom:1px solid #e5e4e2 ;
}
.cartDes{
	margin-left:10px;
}
.selection select {
	border:none;
	outline:none;
}
.delNum{
	color:grey;
	font-size:12px;
}
.num{
	color:black;
	font-weight:bold;
	font-size:14px;
}
.coupons img{
	margin-top:5px;
}
.couponsDes{
	margin-left:10px;
	padding:2px;
}
.couponsDes h4{
	font-size:14px;
}
.couponsDes p{
	font-size:14px;
	color:#cf1d52;
}
.rightArrow {
	margin-left:120px;
}
.price{
	font-weight:bold;
	font-size:16px;
}
.savings img{
	margin-top:0px;
}
.savings p{
	margin-top:5px;
	color:#818181;
}
.footer{
	padding:2px 10px;
}
.footer button{
	padding:14px 50px;
	margin:2px;
	cursor:pointer;
	color:#FFFFFF;
	background-color:#cf1d52;
	border:1px solid #e5e4e2 ;
	font-weight:bold;
	font-size:14px;
	border-radius:4px;
}