*{
	margin:0;
	padding:0;
}
body{
	font-family:inter,sans-serif;
}
.checkoutHeader {
	background-color:whitesmoke;
	border-bottom: 1px solid whitesmoke;
	z-index: 999;
}
.logoImg{
	width:100px;
}
.sectionSelected {
	border-width:2px;
	border-bottom: 3px solid  #cf1d52;
	padding:5px;
}
.logoPic{
	padding:15px 100px;
}
.sectionList{
	margin-left:20px;
	padding:5px 20px;
}
.section{
	padding:10px 50px;
	border-left:1px solid whitesmoke;
	background-color:#FFFFFF;
}
.section p {
	font-size:16px;
	padding:10px;
	font-weight:bold;
}
.logButton{
	border-right:2px solid #cf1d52;
	margin-left:100px;
	padding:15px 50px 15px 15px;
	cursor:pointer;
	color:#cf1d52;
	background-color:#FFFFFF;
	font-weight:bold;
	font-size:16px;
	width:140px;
}
.containerBox{
	width:400px;
	padding:10px 20px;
	margin:0px 40px;
	background-color:#FFFFFF;
	/*border:1px solid #818181;*/
}
.content{
	padding:30px;
}
.containerHead{
	border-bottom:1px solid whitesmoke;
	padding-bottom:15px;
}
.containerHead p{
	font-size:16px;
	font-weight:bold;
	text-align:start;
}
.socialLogin{
	color:#7B7B7B;
	font-size:15px;
	margin:15px 0px 0px;
	padding:0px 0px 6px;
}
.google{
	margin-left:20px;
	margin-top:10px;
	cursor:pointer;
}
.facebook{
	cursor:pointer;
}
.fb{
	margin-top:10px;
}
.phoneNum{
	margin:30px 0px;
	padding:15px 50px 15px 15px;
	cursor:pointer;
	color:#FFFFFF;
	background-color:#cf1d52;
	font-weight:bold;
	font-size:16px;
	width:100%;
	
}
.phoneNum p{
	text-align:center;
}