body{
      font-family:Inter,Roboto,Areal,sans-serif;
}
.small{
	font-size:14px;
}
.large{
	font-size:16px;
}
.displayFlex{
	display:flex;
}
.productPage{
	padding:10px 80px;
}
.option{
	padding:10px;
}
.option a{
	padding:2px;
	text-decoration:none;
	color:#888888;
}
.productImage img{
	padding:20px;
	margin-left:35px;
}
.productDes h3{
	font-size:10px;
	padding:0px 0px 0px 4px;
	color:#001325;
}
table tr td {
	padding-top:10px;
	font-size:20px;
}
.review{
	margin-left:20px;
	padding:0 3px;

}
.mrp{
	font-size:16px;
	color: #818181;
}
.choice {
	margin:5px 2px;
	padding:8px 2px;
	background-color:whitesmoke;
}
.selectBox{
	margin-top:10px;
	padding-top:2px;
	width:120px;
	position:relative;
}
.selectBox select{
	padding:5px;
	font-size:14px;
	width:100%;
	border-radius:2px;
	-webkit-appearance:none;
	appearance:none;
	border:none;
}
.selectBox:after{
	content:"";
	position:absolute;
	right:4px;
	top:50%;
	border-top:4px solid #cf1d52;
	border-left:3px solid transparent;
	border-right:3px solid transparent;
}
.selectButtons button{
	padding-top:20px;
}

.buttonSelect1 button{
	margin-left: 10px;
	text-transform: capitalize;
	color:black;
	padding: 7px;
	border-radius: 30px;
	background-color:#FFFFFF;
	align-items: center;
	cursor: pointer;
	outline: none;
	border: 1px solid grey;
}
.buttonSelect2 button{
	margin-left: 10px;
	text-transform: capitalize;
	color: rgb(253, 250, 250);
	padding: 7px;
	border-radius: 30px;
	background-color: black;
	align-items: center;
	cursor: pointer;
	outline: none;
	border: none;
}
