* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body { 
	font-family: Inter, Roboto, Arial, sans-serif;
	font-size: 14px;
    	line-height: 1;
}

.header{
	padding:10px;
	background-image: url("../assets/capture.png");
	display:flex;
	justify-content:space-between;
	vertical-align:middle;
	
}
.left span{
	font-size:15px;
	font-weight:250px;
	cursor:pointer;
	
}
.left span:hover{
	color:white;
}

.right span{
	font-size:12px;
	font-weight:250px;
	cursor:pointer;
}
.right span:hover{
	color:white;
}
.item{
	padding:10px;
}
.item img{
	width:20px;
	background:none;
}
.separate1{
	border-left:1px solid black;
	border-right:1px solid black;
}
.separate2{
	border-right:1px solid black;
}
.mainHead{
	display:flex;
	justify-content:center;
	padding:15px;
	
	
}
.item2{
	padding:15px;
	font-size:15px;
	font-weight:250px;
	cursor:pointer;
}
.item2:hover{
	color:#cf1d52;
}
.logo img{
	width:100px;
}

.logoHeader{
	display:flex;
	justify-content:space-between;
	
}
.headerMiddle {
	margin-left:150px;
	border-radius: 5px;
	background-color:whitesmoke;
}
.headerMiddle input {
	border: none;
	padding:5px;
	margin-top:2px;
	outline: none;
	font-size: medium;
	background-color: transparent;
}
.head3{
	display:flex;
	justify-content:center;
	border-top:1px solid #DCDCDC;
	border-bottom:1px solid #DCDCDC;
	z-index: 999;
	
}
.item3{
	padding:15px;
	font-size:15px;
	color: #818181;
	cursor:pointer;
}
.item3:hover{
	color:#cf1d52;
}
.head31{
	padding:5px;
}
.imageSlide img{
	width:100%;
}
.slide1 img{
	
	padding:20px 20px;
	width:100%;
	margin-top:20px;
	height:300px;
}
.slide2 img{
	
	padding:10px 50px;
	width:100%;
	height:180px;
	cursor:pointer;
}
.topBrands p{
	padding-top:10px;
	text-align:center;
	font-size:24px;
}
.topBrands table{
	margin:5px 45px;
}
.topBrands img{
	
	cursor:pointer;
}
.diwaliGif{
	margin:10px 60px;
}
.cards{
	
	width:210px;
	border:1px solid #DCDCDC;
	margin-left:1px;
	cursor:pointer;
} 
.shades{
	font-size:12px;
	color: #818181;
	padding-top:3px;
}
.discount{
	color:green;
	padding:5px;
}
.bestSellers{
	display:flex;
	margin-left:300px;
	width:700px;
	overflow-x:scroll;
}
.cards table tr td {
	padding-top:5px;
}
.product .view p{
	text-align:center;
	color:#FF69B4;
	margin-top:20px;
	font-size:13px;
	
}
.product p{
	
	text-align:center;
	font-size:24px;
}
.footer{
	background-color:#3F414D;
	padding-top:25px;
	margin-top:50px;
	justify-content:center;
	display:flex;
}
.login{
	margin:20px;
	width:500px;
}
.footerMail{
	color:#FFFFFF;
	font-size:14px;
	
}

input[type=email]{
	background-color:#3F414D;
        border-style: none none solid none;
        border-width: 1px;
        border-color:#FFFFFF;
	color:#FFFFFF;
}
.send{
	padding:5px;
	margin-top:5px;
}

.button {
  background-color:#3F414D;
  color:#FFFFFF; 
  border-color:#FFFFFF;
  padding:9px ;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  margin-bottom:1px;
}
.appPics{
	padding:15px;
}
.help{
	display:flex;
}
.footer2{
	 background-color:#8C8D94;
	 color:#FFFFFF;
	 display:flex;
	 padding:35px;
}
 .footer21 img{
	margin-left:16px;
	padding:8px;
}
.footer2 ul li{
	list-style:none;
	padding-top:14px;
	font-size:12px;
}
.footer2 ul li:hover{
	color:#cf1d52;
}
